#firstDate-Her h3{
    padding-top: 15px;
    text-align: center;
    font-size: 2em;
}

#firstDate-Her p{
    font-size: 24px;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px  black;
    text-align-last: auto;
}

main #firstDate-Her {
    margin-top: 10px;
    background-color: var(--primary-color);
    height: 100%;
    overflow-y: hidden;
    box-shadow: 0px 0px 10px 0px  black;
    margin-bottom: 10px;
}

#her-story h3{
    text-align: center;
}

@media only screen and (min-width: 600px) {

#firstDate-Her #her-story #cupImg{
    float: left;
    width: 300px;
}

}

@media only screen and (max-width: 599px) {
    #firstDate-Her img{
        width: 100%;
    }
}