
#photoGallery {
    padding: 25px;
}

#photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
}

.photo {
    break-inside: avoid;
    display: flex;
    justify-content: center;
}
.photo:hover{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.photo img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    grid-row: span 30; /* Default span, will be adjusted */
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-content: center;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 70%;
    max-height: 70%;
    
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 90px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    padding: 20px;
    height: auto;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
    height: auto;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#photoGallery-groupings{
    display: grid;
    grid-auto-flow: column;
}

#Categories{
    position: sticky;
    top: 100px;
    overflow-y: auto;
    background-color: var(--topBar-color);
    height: calc(100vh - 130px);
    width: 270px;
}
.Category-selection{
    
    font-size: x-large;
}
.Category-selection li{
    margin-top: 3vh;
    text-decoration-line: underline;
    cursor: pointer;

}
ul li .honeymoonDropdown{
    margin: 0;
}

/* All non clickable catagories */
#Honeymoon-li{
    list-style-type: none;
    text-decoration-line: none;
    cursor: not-allowed;
}


/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    justify-self: center;
}

/* Style for the dropdown button */
.dropdown-btn {
    display: none;
    background-color: var(--topBar-color);
    color: var(--txtcolor);
    padding: 10px;
    font-size: 16px;
    border: solid black;
    width: 150px;
    text-align: center;
}
.dropdown-selection a,.dropdown-Honeymoon a {
    color: var(--txtcolor);
    border-bottom: solid black;

}
/* Style for the dropdown content */
.dropdown-selection {
    position: absolute;
    background-color: var(--topBar-color);
    min-width: 250px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -50px;
    z-index: 1;
    border: solid black;
}

/* Style for each dropdown item */
.dropdown-selection a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;

}
.dropdown-Honeymoon{
    margin: 0;
}

.dropdown-Honeymoon a{
     background-color: lightgray;
}

@media screen and (max-width: 950px) {

#photos-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}

}
@media screen and (max-width: 670px) {
    #Categories{
        display: none;
    }
    #Categories-dropdown{
        display: block;
        height: 50px;
        text-align: center;
        background-color: red;
    }
    select option{
        width: 300px;
    }
    #photoGallery-groupings{
        grid-auto-flow: row;
    }
    .dropdown-btn{
        display: block;
    }
    
}
@media screen and (max-width: 465px) {

    #photos-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        
    }
    
    }

    @media screen and (max-width: 365px) {

        #photos-container {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            
        }
        
        }